root = true

[*]
charset = utf-8
end_of_line = lf
tab_width = 4
max_line_length = 120
insert_final_newline = true

[*.html]
indent_size = 4
indent_style = tab

[*.ts]
indent_size = 4
indent_style = tab

[*.scss]
indent_size = 4
indent_style = tab

[*.yml]
indent_size = 4
indent_style = tab


[.editorconfig]
indent_style = tab
indent_size = 4
