@import "vendor/catppuccin";

:root { // General Light mode configuration
	@each $name, $color in map-get($palette, "latte") {
		--#{$name}: #{$color};
		--#{$name}-dark: #{darken($color, 5)};
		--#{$name}-darker: #{darken($color, 10)};
		--#{$name}-light: #{lighten($color, 5)};
		--#{$name}-lighter: #{lighten($color, 10)};
	}

	scroll-behavior: smooth;
	// brand colors
	--c-brand: var(--green);
	--c-brand-light: var(--green);

	// background colors
	--c-bg: var(--base);
	--c-bg-light: var(--base);
	--c-bg-lighter: var(--base);
	--c-bg-navbar: var(--base-dark);
	--c-bg-sidebar: var(--base-dark);
	--c-bg-arrow: var(--c-text);

	// text colors
	--c-text: var(--text-dark);
	--c-text-accent: var(--c-brand);
	--c-text-light: var(--text);
	--c-text-lighter: var(--subtext1);
	--c-text-lightest: var(--subtext0);
	--c-text-quote: #999999;

	// border colors
	--c-border: var(--surface1);
	--c-border-dark: var(--surface1);

	// custom container colors
	--c-tip: var(--green-light);
	--c-tip-bg: var(--c-bg-light);
	--c-tip-title: var(--green-dark);
	--c-tip-text: var(--green-darker);
	--c-tip-text-accent: var(--c-text-accent);
	--c-warning: var(--yellow);
	--c-warning-bg: #fffae3;
	//--c-warning-bg: var(--c-bg-light);
	--c-warning-title: var(--yellow-dark);
	--c-warning-text: var(--yellow-darker);
	--c-warning-text-accent: var(--c-text);
	--c-danger: var(--red);
	//--c-danger-bg: var(--c-bg-light);
	--c-danger-bg: #ffe0e0;
	--c-danger-title: var(--red-dark);
	--c-danger-text: var(--red-darker);
	--c-danger-text-accent: var(--c-text);
	--c-details-bg: #eeeeee;

	// badge component colors
	--c-badge-tip: var(--c-tip);
	--c-badge-warning: var(--c-warning);
	--c-badge-danger: var(--c-danger);

	// transition vars
	--t-color: 0.3s ease;
	--t-transform: 0.3s ease;

	// code blocks vars
	--code-bg-color: #282c34;
	--code-hl-bg-color: rgba(0, 0, 0, 0.66);
	--code-ln-color: #9e9e9e;
	--code-ln-wrapper-width: 3.5rem;

	// font vars
	--font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

	// layout vars
	--navbar-height: 3.6rem;
	--navbar-padding-v: 0.7rem;
	--navbar-padding-h: 1.4rem;
	--sidebar-width: 17.5rem;
	--sidebar-width-mobile: calc(var(--sidebar-width) * 0.82);
	--content-width: 850px;
	--homepage-width: 960px;

	--back-to-top-z-index: 5;
	--back-to-top-color: var(--c-brand);
	--back-to-top-color-hover: var(--c-brand-light);
}


html.dark { // General dark mode configuration
	@each $name, $color in map-get($palette, "macchiato") {
		--#{$name}: #{$color};
		--#{$name}-dark: #{darken($color, 5)};
		--#{$name}-darker: #{darken($color, 10)};
		--#{$name}-light: #{lighten($color, 5)};
		--#{$name}-lighter: #{lighten($color, 10)};
	}

	@each $name, $color in map-get($palette, "latte") {
		--latte-#{$name}: #{$color};
		--latte-#{$name}-dark: #{darken($color, 5)};
		--latte-#{$name}-darker: #{darken($color, 10)};
		--latte-#{$name}-darkest: #{darken($color, 15)};
		--latte-#{$name}-light: #{lighten($color, 5)};
		--latte-#{$name}-lighter: #{lighten($color, 10)};
	}


	// brand colors
	--c-brand: var(--green-dark); // Text color
	--c-brand-light: var(--green-darker); // Text color for light mode

	// background colors
	--c-bg: var(--base); // Main background color for dark-mode
	--c-bg-light: var(--base); // Why does
	--c-bg-lighter: var(--base); // this exist
	--c-bg-navbar: var(--mantle);
	--c-bg-sidebar: var(--mantle);
	--c-bg-arrow: var(--c-text);

	// text colors
	// This is counter intuitive but it should be darker on the lighter vars, as they're for footers and things
	--c-text: var(--text-light);
	--c-text-light: var(--text);
	--c-text-lighter: var(--text-dark);
	--c-text-lightest: var(--text-darker);

	// border colors
	--c-border: var(--surface0-light);
	--c-border-dark: var(--surface0-light);

	// custom container colors
	--c-tip: var(--latte-green-dark);
	--c-tip-bg: #e2ffe4;
	--c-tip-title: var(--latte-green-darker);
	--c-tip-text: var(--latte-green-darkest);
	--c-warning: var(--latte-yellow-dark);
	--c-warning-bg: #fffae3;
	--c-warning-title: var(--latte-yellow-darker);
	--c-warning-text: var(--latte-yellow-darkest);
	--c-danger: var(--latte-red);
	--c-danger-bg: #ffe0e0;
	--c-danger-title: var(--latte-red-dark);
	--c-danger-text: var(--latte-red-darker);
	--c-details-bg: #323843;

	// code blocks vars
	--code-hl-bg-color: #363b46;
}
